<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tcc.DAL.Properties.Settings.CST" connectionString="Data Source=localhost;Initial Catalog=TCC;Persist Security Info=True;User ID=tcc;Password=tcc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>